<launch>
	<!-- IMPOSTARE VALORI INIZIALI -->
	<param name="latitude" value="45.6311926152" />
        <param name="longitude" value="9.2947495255" />
	<param name="altitude" value="231.506675163" />

  <!-- NODES -->
  <node pkg="lla2enu" name="n1" type="sub"/>
	<node pkg="lla2enu" name="n2" type="pub"/>
	

  </node>

</launch>

<launch>



</launch>
