<launch>
	<!-- IMPOSTARE VALORI INIZIALI -->
	<param name="latitude" value="" />
        <param name="longitude" value="" />
	<param name="altitude" value="" />

  <!-- NODES -->
  <node pkg="parameter_test" name="param_first" type="param_first" output="screen"/>

  <group ns="turtlesim1">
    <node pkg="turtlesim" name="sim" type="turtlesim_node"/>
    <node pkg="turtlesim" name="teleop" type="turtle_teleop_key"/>
  </group>

  <node pkg="turtlesim" name="mimic" type="mimic">
    <remap from="input" to="turtlesim1/turtle1"/>
    <remap from="output" to="turtlesim2/turtle1"/>
  </node>

</launch>

<launch>



</launch>
